@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: Inter, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  header {
    padding: 2.5rem 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .bluebg {
    display: none;
  }
  header .hamburger {
    border: none;
    background: transparent;
    position: fixed;
    z-index: 99;
    right: 0;
    padding: 2.5rem 1.5rem;
  }
  header nav .nav-ul {
    list-style-type: none;
    position: fixed;
    z-index: 98;
    width: 0;
    height: 0;
    right: -999rem;
    top: -999rem;
    transition: 3.5s ease;
    border-bottom-left-radius: 50%;
    border-top: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    -webkit-backdrop-filter: blur(0.25rem);
            backdrop-filter: blur(0.25rem);
    background: rgba(250, 246, 246, 0.75);
  }
  header nav .nav-ul.show {
    right: 0;
    top: 0;
    width: 15rem;
    height: 15rem;
    transition: 0.5s ease;
  }
  header nav .nav-ul a {
    text-decoration: none;
    cursor: pointer;
    color: #1d1b67;
    font-weight: 600;
  }
  header nav .nav-ul a.scheduling_link {
    background: #1d1b67;
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.25rem;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header .hamburger {
    display: none;
  }
  header nav {
    flex-grow: 1;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }
  header nav .nav-ul .margin_left {
    margin-left: 3rem;
  }
  header nav .nav-ul .push_right {
    margin-left: auto;
  }
  header nav .nav-ul a {
    text-decoration: none;
    cursor: pointer;
    color: #5a6979;
    font-weight: 500;
  }
  header nav .nav-ul a.bolder {
    color: #425466;
    font-weight: 700;
  }
  header nav .nav-ul a.scheduling_link {
    background: #1d1b67;
    color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 3rem 12rem;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

main {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .text_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
main .text_container h1 {
  font-size: 2.75rem;
}
main .text_container p {
  color: #425466;
}
main .monthly_yearly_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .monthly_yearly_wrapper span {
  color: #425466;
  font-size: 0.8rem;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.yearly {
  display: none;
}

.monthly_bold {
  font-weight: 700;
}

.change_prices .yearly {
  display: block;
}
.change_prices .yearly_bold {
  font-weight: 700;
}
.change_prices .monthly {
  display: none;
}
.change_prices .monthly_bold {
  font-weight: 400;
}

.pricing_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pricing_container .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pricing_container .box {
  border: 1px solid #cdcdcd;
  border-radius: 0.25rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pricing_container .box .price .yearly, .pricing_container .box .price .monthly {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}
.pricing_container .box .price .yearly small, .pricing_container .box .price .monthly small {
  font-size: 1rem;
  color: #425466;
  font-weight: 400;
}
.pricing_container .box p {
  color: #425466;
}
.pricing_container .box .checkmarks_container {
  border-top: 1px solid #cdcdcd;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pricing_container .box .checkmarks_container .checkmark {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.pricing_container .box button {
  border: none;
  border-radius: 0.25rem;
  background: #1d1b67;
  padding: 1rem;
}
.pricing_container .box a {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  main {
    padding: 1.5rem 3rem;
  }
  main .monthly_yearly_wrapper span {
    font-size: 0.9rem;
  }
  main .text_container {
    align-items: center;
  }
  main .text_container h1 {
    font-size: 3rem;
    width: 80%;
  }
  .pricing_container {
    gap: 2rem;
  }
  .pricing_container .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pricing_container .container .cheap, .pricing_container .container .expensive {
    width: 48%;
  }
  .pricing_container .container .cheap button, .pricing_container .container .expensive button {
    margin-top: auto;
  }
  .pricing_container .container .medium {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 5rem 12rem;
    gap: 3rem;
  }
  main .monthly_yearly_wrapper span {
    font-size: 1rem;
  }
  .prices {
    gap: 3rem;
  }
  .pricing_container {
    gap: 3rem;
  }
  .pricing_container .container {
    flex-wrap: nowrap;
    gap: 3rem;
  }
  .pricing_container .container .cheap, .pricing_container .container .expensive, .pricing_container .container .medium {
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}
@media screen and (min-width: 1440px) {
  main .text_container p {
    width: 50%;
  }
}
footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .logo_nav_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
footer .logo_nav_wrapper nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 3rem;
}
footer .logo_nav_wrapper nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .logo_nav_wrapper nav ul li {
  color: #000;
  font-weight: 700;
}
footer .logo_nav_wrapper nav ul li:nth-child(1) {
  margin-bottom: 0.5rem;
}
footer .logo_nav_wrapper nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #425466;
}
footer form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer form label {
  font-weight: 700;
}
footer form .email_container {
  position: relative;
  width: 100%;
}
footer form .email_container .email {
  width: 100%;
  padding: 1rem;
  border: 1px solid #a8a8a8;
  border-radius: 0.25rem;
}
footer form .email_container .email::-moz-placeholder {
  font-family: inherit;
  font-weight: 600;
}
footer form .email_container .email:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 600;
}
footer form .email_container .email::placeholder {
  font-family: inherit;
  font-weight: 600;
}
footer form .email_container .submit {
  background: #1d1b67;
  padding: 0.75rem;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 0.25rem;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 3rem;
    gap: 2rem;
  }
  footer .logo_nav_wrapper {
    gap: 2rem;
  }
  footer .logo_nav_wrapper nav {
    flex-wrap: nowrap;
    gap: 4rem;
  }
  footer form .email_container {
    width: 17.5rem;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 3rem 12rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer .logo_nav_wrapper nav {
    gap: 2rem;
  }
  footer form {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    font-size: 1.1rem;
  }
  footer .logo_nav_wrapper nav {
    gap: 4rem;
  }
  footer form .email_container {
    width: 22.5rem;
  }
  footer form .email_container .email {
    padding: 1.3rem;
    font-size: 1rem;
  }
  footer form .email_container .submit {
    top: 0.3rem;
    padding: 1rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */