@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: Inter, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  header {
    padding: 2.5rem 1.5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .bluebg {
    display: none;
  }
  header .hamburger {
    border: none;
    background: transparent;
    position: fixed;
    z-index: 99;
    right: 0;
    padding: 2.5rem 1.5rem;
  }
  header nav .nav-ul {
    list-style-type: none;
    position: fixed;
    z-index: 98;
    width: 0;
    height: 0;
    right: -999rem;
    top: -999rem;
    -webkit-transition: 3.5s ease;
    transition: 3.5s ease;
    border-bottom-left-radius: 50%;
    border-top: none;
    border-right: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    -webkit-backdrop-filter: blur(0.25rem);
            backdrop-filter: blur(0.25rem);
    background: rgba(250, 246, 246, 0.75);
  }
  header nav .nav-ul.show {
    right: 0;
    top: 0;
    width: 15rem;
    height: 15rem;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  header nav .nav-ul a {
    text-decoration: none;
    cursor: pointer;
    color: #1d1b67;
    font-weight: 600;
  }
  header nav .nav-ul a.scheduling_link {
    background: #1d1b67;
    color: #fff;
    padding: .75rem;
    border-radius: .5rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  header .hamburger {
    display: none;
  }
  header nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header nav .nav-ul .margin_left {
    margin-left: 3rem;
  }
  header nav .nav-ul .push_right {
    margin-left: auto;
  }
  header nav .nav-ul a {
    text-decoration: none;
    cursor: pointer;
    color: #5a6979;
    font-weight: 500;
  }
  header nav .nav-ul a.scheduling_link {
    background: #1d1b67;
    color: #fff;
    padding: .75rem;
    border-radius: .5rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 3rem 12rem;
  }
}

main {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

main h1 {
  color: #1d1b67;
}

main p {
  color: #425466;
}

main a {
  color: #425466;
  font-weight: 700;
  text-decoration: none;
}

main .links_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

main .links_row button {
  border: none;
  background: #1d1b67;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 700;
}

main .links_row button a {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

main .data_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

main .data_container a {
  text-decoration: underline;
}

.mockup {
  display: none;
}

.illustration_container {
  background: #46ccde;
  padding: 1.5rem;
}

.main_illustration_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .bluebg {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background: #46ccde;
    z-index: -1;
  }
  .header_main_wrapper {
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile {
    display: none;
  }
  .mockup {
    display: block;
  }
  .header_main_wrapper {
    position: relative;
  }
  .main_illustration_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .main_illustration_wrapper main {
    gap: 1.5rem;
    padding: 0;
    padding-right: 3rem;
    width: 50%;
  }
  .main_illustration_wrapper main .links_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .main_illustration_wrapper .mockup {
    position: absolute;
    padding: 0 1.5rem;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .main_illustration_wrapper {
    padding: 0 12rem;
    width: 100%;
    gap: 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_illustration_wrapper main h1 {
    font-size: 2.5rem;
  }
  .main_illustration_wrapper main .links_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .main_illustration_wrapper main h1 {
    font-size: 4rem;
  }
  .main_illustration_wrapper main p {
    font-size: 1.1rem;
  }
  .main_illustration_wrapper .mockup {
    max-height: 40rem;
  }
}

.people {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.people .header_avatars_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.people .header_avatars_wrapper h2 {
  font-size: 1.75rem;
  color: #1d1b67;
}

.people .avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
  width: 100%;
}

.people .avatars img {
  width: 3rem;
}

.people .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.people .text_container p {
  font-weight: 500;
  color: #425466;
}

@media screen and (min-width: 768px) {
  .people {
    padding: 3rem;
    gap: 2.5rem;
  }
  .people .header_avatars_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .people .header_avatars_wrapper h2 {
    font-size: 2rem;
  }
  .people .text_container {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .people {
    padding: 4rem 12rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .people .header_avatars_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
    width: 50%;
  }
  .people .text_container {
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .people .text_container p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .people .header_avatars_wrapper {
    width: 65%;
  }
  .people .header_avatars_wrapper h2 {
    font-size: 2.75rem;
  }
  .people .text_container {
    width: 35%;
  }
  .people .text_container p {
    font-size: 1.2rem;
  }
}

.features {
  background: #cdf9ff;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.features .text_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features .text_wrapper .bluecolor {
  color: #3b60bf;
  font-weight: 700;
}

.features .text_wrapper h2 {
  color: #005661;
  font-size: 2rem;
}

.features .text_wrapper p {
  color: #425466;
  font-weight: 500;
}

.features .text_wrapper button {
  border: none;
  background: #1d1b67;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 700;
}

.features .text_wrapper button a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.features .text_wrapper .demo {
  color: #425466;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .features {
    padding: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .features {
    padding: 4rem 12rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features .text_wrapper {
    gap: 1.5rem;
  }
  .features .text_wrapper p {
    font-size: 1.1rem;
  }
  .features .text_wrapper h2 {
    font-size: 2.5rem;
  }
  .features .text_wrapper .demo {
    padding-top: 1rem;
  }
}

footer {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

footer .logo_nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
}

footer .logo_nav_wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem 3rem;
}

footer .logo_nav_wrapper nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

footer .logo_nav_wrapper nav ul li {
  color: #000;
  font-weight: 700;
}

footer .logo_nav_wrapper nav ul li:nth-child(1) {
  margin-bottom: .5rem;
}

footer .logo_nav_wrapper nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #425466;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

footer form label {
  font-weight: 700;
}

footer form .email_container {
  position: relative;
  width: 100%;
}

footer form .email_container .email {
  width: 100%;
  padding: 1rem;
  border: 1px solid #a8a8a8;
  border-radius: .25rem;
}

footer form .email_container .email::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 600;
}

footer form .email_container .email:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 600;
}

footer form .email_container .email::-ms-input-placeholder {
  font-family: inherit;
  font-weight: 600;
}

footer form .email_container .email::placeholder {
  font-family: inherit;
  font-weight: 600;
}

footer form .email_container .submit {
  background: #1d1b67;
  padding: .75rem;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: .25rem;
  position: absolute;
  top: .25rem;
  right: .25rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 3rem;
    gap: 2rem;
  }
  footer .logo_nav_wrapper {
    gap: 2rem;
  }
  footer .logo_nav_wrapper nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 4rem;
  }
  footer form .email_container {
    width: 17.5rem;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 4rem 12rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .logo_nav_wrapper nav {
    gap: 2rem;
  }
  footer form {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    font-size: 1.1rem;
  }
  footer .logo_nav_wrapper nav {
    gap: 4rem;
  }
  footer form .email_container {
    width: 22.5rem;
  }
  footer form .email_container .email {
    padding: 1.3rem;
    font-size: 1rem;
  }
  footer form .email_container .submit {
    top: .3rem;
    padding: 1rem;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */