@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: Inter, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  header {
    padding: 2.5rem 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .bluebg {
    display: none;
  }
  header .hamburger {
    border: none;
    background: transparent;
    position: fixed;
    z-index: 99;
    right: 0;
    padding: 2.5rem 1.5rem;
  }
  header nav .nav-ul {
    list-style-type: none;
    position: fixed;
    z-index: 98;
    width: 0;
    height: 0;
    right: -999rem;
    top: -999rem;
    transition: 3.5s ease;
    border-bottom-left-radius: 50%;
    border-top: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    -webkit-backdrop-filter: blur(0.25rem);
            backdrop-filter: blur(0.25rem);
    background: rgba(250, 246, 246, 0.75);
  }
  header nav .nav-ul.show {
    right: 0;
    top: 0;
    width: 15rem;
    height: 15rem;
    transition: 0.5s ease;
  }
  header nav .nav-ul a {
    text-decoration: none;
    cursor: pointer;
    color: #1d1b67;
    font-weight: 600;
  }
  header nav .nav-ul a.scheduling_link {
    background: #1d1b67;
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.25rem;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header .hamburger {
    display: none;
  }
  header nav {
    flex-grow: 1;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  header nav .nav-ul .margin_left {
    margin-left: 3rem;
  }
  header nav .nav-ul .push_right {
    margin-left: auto;
  }
  header nav .nav-ul a {
    text-decoration: none;
    cursor: pointer;
    color: #5a6979;
    font-weight: 500;
  }
  header nav .nav-ul a.scheduling_link {
    background: #1d1b67;
    color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    font-weight: 700;
  }
  header nav .nav-ul a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 3rem 12rem;
  }
}
main {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main h1 {
  color: #1d1b67;
}
main p {
  color: #425466;
}
main a {
  color: #425466;
  font-weight: 700;
  text-decoration: none;
}
main .links_row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .links_row .scheduling_link {
  border: none;
  background: #1d1b67;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: 700;
}
main .links_row .scheduling_link a {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}
main .data_container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
main .data_container a {
  text-decoration: underline;
}

.mockup {
  display: none;
}

.illustration_container {
  background: #46ccde;
  padding: 1.5rem;
}

.main_illustration_wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .bluebg {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background: #46ccde;
    z-index: -1;
  }
  .header_main_wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .mobile {
    display: none;
  }
  .mockup {
    display: block;
  }
  .header_main_wrapper {
    position: relative;
  }
  .main_illustration_wrapper {
    flex-direction: row;
    padding: 0 3rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .main_illustration_wrapper main {
    gap: 1.5rem;
    padding: 0;
    padding-right: 3rem;
    width: 50%;
  }
  .main_illustration_wrapper main .links_row {
    flex-direction: column;
    align-self: flex-start;
  }
  .main_illustration_wrapper .mockup {
    position: absolute;
    padding: 0 1.5rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .main_illustration_wrapper {
    padding: 0 12rem;
    width: 100%;
    gap: 3rem;
    justify-content: space-between;
  }
  .main_illustration_wrapper main h1 {
    font-size: 2.5rem;
  }
  .main_illustration_wrapper main .links_row {
    flex-direction: row;
  }
  .main_illustration_wrapper main .links_row a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1440px) {
  .main_illustration_wrapper main h1 {
    font-size: 4rem;
  }
  .main_illustration_wrapper main p {
    font-size: 1.1rem;
  }
  .main_illustration_wrapper .mockup {
    padding-top: 3rem;
    padding-right: 3rem;
    max-width: 45%;
  }
}
.people {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.people .header_avatars_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.people .header_avatars_wrapper h2 {
  font-size: 1.75rem;
  color: #1d1b67;
}
.people .avatars {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}
.people .avatars img {
  width: 3rem;
}
.people .text_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.people .text_container p {
  font-weight: 500;
  color: #425466;
}

@media screen and (min-width: 768px) {
  .people {
    padding: 3rem;
    gap: 2.5rem;
  }
  .people .header_avatars_wrapper {
    flex-direction: row;
    align-items: center;
  }
  .people .header_avatars_wrapper h2 {
    font-size: 2rem;
  }
  .people .text_container {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .people {
    padding: 6rem 12rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .people .header_avatars_wrapper {
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 50%;
  }
  .people .text_container {
    width: 50%;
    justify-content: space-between;
  }
  .people .text_container p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1440px) {
  .people .header_avatars_wrapper {
    width: 65%;
  }
  .people .header_avatars_wrapper h2 {
    font-size: 2.75rem;
  }
  .people .text_container {
    width: 35%;
  }
  .people .text_container p {
    font-size: 1.2rem;
  }
}
.features {
  background: #cdf9ff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.features .text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.features .text_wrapper .bluecolor {
  color: #3b60bf;
  font-weight: 700;
}
.features .text_wrapper h2 {
  color: #005661;
  font-size: 2rem;
}
.features .text_wrapper p {
  color: #425466;
  font-weight: 500;
}
.features .text_wrapper .scheduling_link {
  border: none;
  background: #1d1b67;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}
.features .text_wrapper .demo {
  color: #425466;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .features {
    padding: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .features {
    padding: 6rem 12rem;
    flex-direction: row;
  }
  .features .text_wrapper {
    gap: 1.5rem;
  }
  .features .text_wrapper p {
    font-size: 1.1rem;
  }
  .features .text_wrapper h2 {
    font-size: 2.5rem;
  }
  .features .text_wrapper .demo {
    padding-top: 1rem;
  }
  .features .text_wrapper .demo:hover {
    text-decoration: underline;
  }
  .features .text_wrapper button a:hover {
    text-decoration: underline;
  }
}
footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .logo_nav_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
footer .logo_nav_wrapper nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 3rem;
}
footer .logo_nav_wrapper nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .logo_nav_wrapper nav ul li {
  color: #000;
  font-weight: 700;
}
footer .logo_nav_wrapper nav ul li:nth-child(1) {
  margin-bottom: 0.5rem;
}
footer .logo_nav_wrapper nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #425466;
}
footer form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer form label {
  font-weight: 700;
}
footer form .email_container {
  position: relative;
  width: 100%;
}
footer form .email_container .email {
  width: 100%;
  padding: 1rem;
  border: 1px solid #a8a8a8;
  border-radius: 0.25rem;
}
footer form .email_container .email::-moz-placeholder {
  font-family: inherit;
  font-weight: 600;
}
footer form .email_container .email:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 600;
}
footer form .email_container .email::placeholder {
  font-family: inherit;
  font-weight: 600;
}
footer form .email_container .submit {
  background: #1d1b67;
  padding: 0.75rem;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 0.25rem;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 3rem;
    gap: 2rem;
  }
  footer .logo_nav_wrapper {
    gap: 2rem;
  }
  footer .logo_nav_wrapper nav {
    flex-wrap: nowrap;
    gap: 4rem;
  }
  footer form .email_container {
    width: 17.5rem;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 6rem 12rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer .logo_nav_wrapper nav {
    gap: 2rem;
  }
  footer .logo_nav_wrapper nav ul a:hover {
    text-decoration: underline;
  }
  footer form {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    font-size: 1.1rem;
  }
  footer .logo_nav_wrapper nav {
    gap: 4rem;
  }
  footer form .email_container {
    width: 22.5rem;
  }
  footer form .email_container .email {
    padding: 1.3rem;
    font-size: 1rem;
  }
  footer form .email_container .submit {
    top: 0.3rem;
    padding: 1rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */